### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [12]:
# Dependencies and Setup
import pandas as pd


# File to Load (Remember to Change These)
file_to_load = r'C:\Users\cchic\OneDrive\Documents\projects_challenges\Heroes of Pymoli\purchase_data.csv'

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(file_to_load)
 
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [13]:
#Count players using screen name ID 
player_count = len(purchase_data_df["SN"].value_counts())

#Create and show dataframe
total_players = pd.DataFrame({'Total Players': [player_count]})
total_players

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [14]:
#Count items
unique_items = len(purchase_data_df["Item ID"].value_counts())
#unique_items = pd.DataFrame({'Number of Unique Items': [unique_items]})

#Calculate Avg Price with mean function
average_price = (purchase_data_df["Price"].mean())
#average_price = pd.DataFrame({'Average Price': [average_price]})

#Calculate total purchase with count function
total_purchases = (purchase_data_df["Purchase ID"].count())

#Calculate total revenue with sum function
total_revenue = (purchase_data_df["Price"].sum())

#Create dataframe to show summary data
summary_data_df = pd.DataFrame({"Number of Unique Items": [unique_items], 'Average Price': [average_price],
                               "Total Purchase": [total_purchases], "Total Revenue": [total_revenue]})
#Show dataframe
summary_data_df

#Format dataframe
summary_data_df.style.format({"Average Price": '${:,.2f}', "Total Revenue": '${:,.2f}'})

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [15]:
#Group data by gender
genders_df = purchase_data_df.groupby(['Gender'])

#Count genders using nunique function
gender_count = genders_df.nunique()['SN']
#gender_count.head()

#Calculate percentage of each gender
percentage_players = gender_count / player_count * 100
#percentage_players.head()

#Create dataframe
gender_demo_df = pd.DataFrame({'Total Count': gender_count, "Percentage of Players": percentage_players})

#Show dataframe
gender_demo_df

#Format dataframe
gender_demo_df.style.format({'Percentage of Players':'{:,.2f}%'})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [16]:
#Get purchase per gender
purchase_count = genders_df['Purchase ID'].count()
#purchase_count.head()

#Calculate avg purchase price
avg_purchase_price = genders_df['Price'].mean()
#avg_purchase_price.head()

#Calculate purchase total by gender
avg_purchase_total = genders_df['Price'].sum()
#avg_purchase_total.head()

#Calculate avg purchase per person
avg_purchase_perperson = avg_purchase_total / gender_count
#avg_purchase_perperson.head()


#Create dataframe for analysis
purchasing_analysis_df = pd.DataFrame({'Purchase Count': purchase_count, 
                                       "Average Purchase Price": avg_purchase_price,
                                      "Total Purchase Value": avg_purchase_total, 
                                       "Avg Total Purchase Per Person": avg_purchase_perperson})
#Show dataframe
purchasing_analysis_df

#Format dataframe
purchasing_analysis_df.style.format({'Average Purchase Price':'${:,.2f}',
                                    'Total Purchase Value':'${:,.2f}',
                                    'Avg Total Purchase Per Person':'${:,.2f}'})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [17]:
#Create bins for age ranges
ages_bin = [0, 9.99, 14.99, 19.99, 24.99, 29.99, 34.99, 39.99, 100]
ages_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

#Use pdCut from hint to get age in bins
purchase_data_df['Age Group'] = pd.cut(purchase_data_df["Age"], ages_bin, labels=ages_names)

#Create new data frame for ages group
age_summary_df = purchase_data_df.groupby('Age Group')
#age_summary_df.count().head()

#Total up players for each age range
age_group_totals = age_summary_df['SN'].nunique()
#age_group_totals.head()

#Calculate percentage
ages_percentages = (age_group_totals / player_count) * 100
#ages_percentages.head()

#Creat dataframe
age_demo_df = pd.DataFrame({"Total Count": age_group_totals,
                           "Percentage of Players": ages_percentages})
#show dataframe
age_demo_df

#format dataframe
age_demo_df.style.format({'Percentage of Players':'{:,.2f}%'})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [18]:
#Calculate purchase count by age
age_purchase_count = age_summary_df['Purchase ID'].count()
#age_purchase_count.head()

#Calculate avg purchase price by age
avage_purchase_price = age_summary_df['Price'].mean()
#avage_purchase_price.head()

#Calculate total purchase value by age
total_purchase_value = age_summary_df['Price'].sum()
#total_purchase_value.head()

#Calculate avg purchase price per person by age
avage_purchase_perperson = total_purchase_value/age_group_totals
#avage_purchase_perperson.head()

#Create data frame
age_analysis_df = pd.DataFrame({"Purchase Count": age_purchase_count,
                           "Average Purchase Price": avage_purchase_price,
                               "Total Purchase Value": total_purchase_value,
                               "Avg Total Purchase per Person": avage_purchase_perperson})
#Show dataframe
age_analysis_df

#Format dataframe
age_analysis_df.style.format({'Average Purchase Price':'${:,.2f}',
                                    'Total Purchase Value':'${:,.2f}',
                                    'Avg Total Purchase per Person':'${:,.2f}'})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [19]:
#Create spenders group
spenders_group = purchase_data_df.groupby('SN')
#spenders_group.head()

#Count spend by SN
sn_purchase_count = spenders_group['Purchase ID'].count()
#sn_purchase_count.count()

#Calculate average purchase price per SN
snavg_purchaseprice = spenders_group['Price'].mean()

#Calculate total purchase value by SN
sn_total_purvalue = spenders_group['Price'].sum()
#sn_total_purvalue.head()

#Create dataframe
topspenders_df = pd.DataFrame({"Purchase Count": sn_purchase_count,
                           "Average Purchase Price": snavg_purchaseprice,
                               "Total Purchase Value": sn_total_purvalue,})

#Sort data in new dataframe
sorted_topspenders_df = topspenders_df.sort_values(["Total Purchase Value"], ascending=False).head()

#Show sorted dataframe
sorted_topspenders_df

#Format dataframe
sorted_topspenders_df.style.format({'Average Purchase Price':'${:,.2f}',
                                    'Total Purchase Value':'${:,.2f}',})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [20]:
#Create dataframe for items
popular_items_df = purchase_data_df[['Item ID', 'Item Name', 'Price']]

#Group items in dataframe
item_group = popular_items_df.groupby(['Item ID', 'Item Name'])
#item_group.head()

#Count purchased items
purchased_items = item_group['Price'].count()
#purchased_items.count()

#Calculate Purchase total
purchase_total = item_group['Price'].sum()
#purchase_total.head()

#Calculate avg item price
avg_item_price = purchase_total / purchased_items

#Create most popular item df
most_popular_df = pd.DataFrame({"Purchase Count": purchased_items,
                           "Average Item Price": avg_item_price,
                               "Total Purchase Value": purchase_total})
#Sort dataframe
sorted_mostpop_df = most_popular_df.sort_values(["Purchase Count"], ascending=False).head()

#Show dataframe
sorted_mostpop_df

#Format dataframe
sorted_mostpop_df.style.format({'Average Item Price':'${:,.2f}',
                                    'Total Purchase Value':'${:,.2f}',})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [21]:
#Sort most popular df by total purchase value
sorted_mostpop_df = most_popular_df.sort_values(["Total Purchase Value"], ascending=False).head()

#Show dataframe
sorted_mostpop_df

#Format Dataframe
sorted_mostpop_df.style.format({'Average Item Price':'${:,.2f}',
                                    'Total Purchase Value':'${:,.2f}',})